@import "../../../styles.scss";

.header-container{
    height: 4rem;
    background-color: $grey-gulapp;
    display:flex;
    justify-content: center;

    .logo-container{
        
        font-family: 'Birthstone', cursive;
        color: $orange-gulapp;
        font-size: 50px;
    }
}