<div class="category-container">

    <div class="category-title-container">
        <h3 class="category-title">{{category.name}}</h3>
    </div>

    <div class="meal-list">

        <div class="meal-container" *ngFor="let product of products">

            <p class="meal-item-name" >
                {{product.name}}
            </p>
            <p class="meal-item-price" >
                {{product.price}}
            </p>
    
    
            <a class="add-item-button" (click)="openInfoDialog(product)">
                Agregar +
            </a>
    
        </div>
     
    </div>

</div>