*{
    margin:0;
    padding:0;
    line-height: 1.15;
    box-sizing: border-box;
    border: 0;
}

html {
    height: 100%;
}

//COLORES
$orange-gulapp: #e94117;
$grey-gulapp: #222222;
$white-soft: #e9e7e7;


//FUENTES
//Font usada para el logo "Birthstone"
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');

//Roboto Condensed
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');



body{
    background-color: $grey-gulapp;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
